/**
 * START CONSTANTS
 */
$darkBG1: #222326;
$darkBG2: #121314;
$darkBG3: #2E2F33;
$darkC1: #7A7B7E;
$darkC2: #D3D5DB;
$highlight1: #1E90FF;
$highlight2: #2Ea5FF;
$error: #c23b22;
$success: #03C03C;
$selected: #fff;
$link: #A0D8F4;

$fontFamily: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$darkB1: 1px solid $darkBG2;

$thumbnailWidth: 196px;

/**
 * END CONSTANTS
 */

/**
 * START MIXINS/EXTENSIONS
 */
@mixin default($position: relative, $display: flex, $flexDirection: column, $margin: 0, $padding: 0, $overflow: hidden){
  position: $position;
  display: $display;
  flex-direction: $flexDirection;
  margin: $margin;
  padding: $padding;
  overflow: $overflow;
}

%default{
  @include default();
}

@mixin fill($width: 100%, $height: 100%){
  width: $width;
  height: $height;
}

%fill{
  @include fill();
}

@mixin theme($color: $darkC1, $background: $darkBG1, $fontFamily: $fontFamily, $fontSize: 14px, $fontWeight: normal){
  color: $color;
  background: $background;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
}

%lightTheme{
  @include theme(); //TODO light colors
}

%darkTheme{
  @include theme();
}

%colorblindTheme{
  @include theme(); //TODO colorblind colors
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%ellipsis{
  @include ellipsis();
}
/**
 * END MIXINS
 */
